<EmberTable style="max-width: 400px" as |t|>
    <t.head @columns={{if this.displayAltColumns this.columnsAlt this.columns}} />
    <t.body @rows={{this.rows}} />
</EmberTable>
<br><br>
<div>
    <button {{on "click" this.changeDisplay}}>
        Change Display
    </button>
</div>
